<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>project 2</title>
    <link rel="stylesheet" href="main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
      <header>
          <img src="/templates/images/logo.png" alt="logo">
          <div class="header">
               <a>Обо мне</a>
               <a>Портфолио</a>
               <a>Цены</a>
               <a>Запись</a>
          </div>
          <div class="number">+380 (96) 119 54 04</div>

        </header>
        <main>
            <section>
                <article>
                    <h1>Юлия Тюлькина</h1>
                    <p>фотограф / видеооператор</p>
                    <button>Записаться на фотоссесию</button>
                </article>
                <img src="/templates/images/port1.png" alt="portrait 1">
            </section>
            <section>
                <article>
                    <h1>Обо мне</h1>
                    <div class="card1">
                       <img src="/templates/images/section2block1.png" alt="portrait">
                        <p>Юлия Тюлькина</p>
                    </div>
                </article>
                <article>
                    <h3>Привет! Меня зовут Юля, я фотограф из Винницы</h3>
                    <p>Занимаюсь фотографией более 2 лет. Люблю живые, естественные, теплые и эмоциональные кадры. Умею работатьс такими инструментами как Photoshop, Lightroom.</p>
                       <p>Фотография для меня - это способ показать прекрасное в простоте,то есть открыть занавес изящного и ненавязчивого. Видеосъёмка является чем-то по особенному ценным, ведь можно запечатлеть момент навсегда и при этом оставить отпечаток в истории.</p>
                    <div class="card2">
                        <img src="/templates/images/section2block2.png"  alt="portrait">
                    </div>
                </article>
            </section>
            <section>
                <h1>Портфолио</h1>
                <div class="container">
                    <div>
                        <img src="/templates/images/section3block1.png"  alt="portrait">
                        <h3>Теплые фото у дома</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                        <button>Все фото</button>
                    </div>
                    <div>
                        <img src="/templates/images/section3block2.png"  alt="portrait">
                        <h3>Утреняя видеосьемка</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sagittis, natoque amet at hendrerit consectetur rhoncus. </p>
                        <button>Все фото</button>
                    </div>
                    <div>
                        <img src="/templates/images/section3block3.png"  alt="portrait">
                        <h3>Фотосессия с цветами</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sagittis, natoque amet.</p>
                        <button>Все фото</button>
                    </div>
                </div>
            </section>
            <section>
                <h1>Цены</h1>
                 <article class="twobox">
                    <div class="box" >
                        <img src="/templates/images/section41.png"  alt="portrait">
                        <h3>Фотосессия</h3>
                        <div class="smallbox">
                                <div class="content">
                                    <p>Продолжительность </p>
                                    <p>Время обработки фото </p>
                                    <p>Количество фото </p>
                                </div>
                                <div class="content">
                                    <p> 1 час</p>
                                    <p>  5 дней</p>
                                    <p> 20 штук</p>
                                </div>

                            </div>
                        <div class="content">
                            <span>400 грн</span>
                            <button>Заказать сейчас</button>
                        </div>
                    </div>

                    <div class="box" >
                        <img src="/templates/images/section42.png"  alt="portrait">
                        <h3>Видеосъемка</h3>
                            <div class="smallbox">
                                <div class="content">
                                    <p>Продолжительность </p>
                                    <p>Время обработки фото </p>
                                    <p>Количество фото </p>
                                </div>
                                <div class="content">
                                    <p> 1 час</p>
                                    <p>  5 дней</p>
                                    <p> 20 штук</p>
                                </div>

                            </div>
                            <div class="content">
                                <span>400 грн</span>
                                <button>Заказать сейчас</button>
                            </div>
                    </div>
                 </article>
            </section>
            <section>
                <h1>Записаться к Юле</h1>
                <div class="last">
                    <div>
                        <img src="/templates/images/section51.png"  alt="portrait">
                        <img src="/templates/images/section52.png"  alt="portrait">
                    </div>
                    <form action="">

                        <input type="text" id="name" placeholder="Имя ..." required>


                        <input type="email" id="email"  placeholder="E-mail ..." required>

                        <textarea rows="5" id="message" placeholder="Сообщение ..."  required></textarea>

                        <input type="submit" value="Отправить">
                    </form>
                </div>
            </section>

        </main>

    </div>
        <footer >
            <div class="limit">
                  <img src="/templates/images/logo.png"  alt="portrait">
              <div class="footer">
                   <a href="https://www.instagram.com"  class="fa-brands fa-instagram fa-xl" ></a>
                   <a href="https://www.facebook.com"  class="fa-brands fa-facebook fa-xl"></a>
                   <a href="mail:admin@progect1.com"   class="fa-solid fa-envelope fa-xl"></a>

              </div>
              <div class="number">+380 (96) 119 54 04</div>
            </div>
        </footer>
    <script src="https://kit.fontawesome.com/9de147d306.js" crossorigin="anonymous"></script>
</body>
</html>