body{
margin:0px;
max-width:1920px;
font-family:"Montserrat";
color:#774E2E;}
/*header*/
header{
max-width:75%;
display:flex;
justify-content:space-between;
font-size:16px;
padding-top:5%;
margin:auto;}

header .header{
width:45%;
height:80px;
display:flex;
justify-content:space-around;
align-items:center;}

header img{width:10%; height:100%; padding:3% 3% 3% 0;}

/*section 1*/

main section:nth-of-type(1){
max-width:75%;
display:flex;
justify-content:space-between;
margin:auto;
align-items:center;
margin-bottom:10%;}

main section:nth-of-type(1) article{
display:flex;
flex-direction:column;
width:50%;
max-height:475px;}

main section:nth-of-type(1) article p{
margin:3% 5% 6% 0;}
main section:nth-of-type(1) article h1:nth-of-type(1){
font-size:110px;
color:#F37F34;
margin:0px;
}

main section:nth-of-type(1) article h1:nth-of-type(2){
font-size:110px;
color: #774E2E;
margin :-3% 0 0 0;}

main section:nth-of-type(1) article div {
width:70%;
max-height:70px;
background-color: #774E2E;
padding:4% 0;
text-align:center;
color:white;
font-size:20px;}

main section:nth-of-type(1) img{
width:50%;
max-height:595px;}



/*section 2*/

main section:nth-of-type(2){
max-width:1920px;
background-color:#FFF9EA;

}
main section:nth-of-type(2) article{
max-width:75%;
display:flex;
flex-direction:column;
margin: auto ;
padding:10% 0 ;
align-items:center;
justify-content:space-between;

}

main section:nth-of-type(2) h1{
font-size:68px;
color:#F37F34;
margin:0px 0px 6%;}

section:nth-of-type(2) .container{
width:100%;
display:flex;
justify-content:space-between;
text-align:center;
align-items:center;}

article .container div{
width:32%;
height:460px;
background-color:white;}

article .container div h2{ font-size:24px;}
article .container div img{ max-width:100%;}
article .container div p {max-width:92%; margin:auto;}


/*section 3*/

section:nth-of-type(3){
max-width:1920px;
margin:auto;
}

main section:nth-of-type(3) article{
max-width:75%;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
padding:10% 0;
margin:auto ;
}

main section:nth-of-type(3) article .box{
width:50%;
max-height:635px;
display:flex;
flex-direction:column;}

main section:nth-of-type(3) article .box h1{
font-size:68px;
color:#F37F34;
width:78%;
margin:0px;}

main section:nth-of-type(3) article .box p{margin:5% 0px 8%;}
main section:nth-of-type(3) article .box h3{color:#673B19; font-size:24px;}
main section:nth-of-type(3) article .box li{line-height:1.22;}

main section:nth-of-type(3) img{
width:50%;
max-height:720px;}

footer{
max-width:1920px;
max-height:180px;
background-color:#774E2E;
display:flex;
justify-content:center;
items-align:center;
color:white;}

footer .footer{
width:75%;
display:flex;
justify-content:space-between;
align-items:center;}

footer .footer img{width:9%; height:50%; margin:3% 0;}
footer .footer p{font-size:36px; display:flex; align-items:center;}


/*media - 1170 px */

@media (max-width:1170px){
 header .header{width:60%;}
 main section:nth-of-type(1) article h1:nth-of-type(1){font-size:72px; margin:0px;}
 main section:nth-of-type(1) article h1:nth-of-type(2){font-size:72px;}
 article .container div{height:370px;}
 main section:nth-of-type(2) h1{font-size:42px;}
 main section:nth-of-type(3) article .box h1{font-size:42px;}
 main section:nth-of-type(3) article .box p{margin:3% 0px; }
 main section:nth-of-type(3) article .box h3{margin:0px; }
 main section:nth-of-type(3) article .box ul{margin:1%; }
 footer .footer p{font-size:24px;}
 }
@media (max-width:860px){
    header .header{width:80%;}
    main section:nth-of-type(1){flex-direction:column;}
    main section:nth-of-type(1) article{width:90%; align-items:center; text-align:center;}
    main section:nth-of-type(2) article{max-width:90%;text-align:center; }
    section:nth-of-type(2) .container{flex-direction:column;}
    article .container div{width:60%;height:450px;margin-bottom:5%;}
    main section:nth-of-type(3) article{flex-direction:column;width:90%; }
    main section:nth-of-type(3) article .box {width:90%;}
    main section:nth-of-type(3) article .box h1{font-size:32px;}
    footer .footer p{font-size:18px;}

}
@media (max-width:600px){
    header{align-items:center;}
    header .header{width:90%;}
    main section:nth-of-type(1) article{width:100%;}
    main section:nth-of-type(1) article div{width:100%;}
    main section:nth-of-type(1) img{width:80%;}
    main section:nth-of-type(3) article{width:100%; }
    main section:nth-of-type(3) img {width:80%;}
    footer .footer p{font-size:14px;}
}

@media (max-width:480px){

    main{ width:100vw; display:flex; flex-direction:column;}
    header{flex-direction:column; max-width:100%;}
    header .header{flex-direction:column; text-align:center;}
    header .header p{width:350px;font-size:22px; margin:1%;}
    header img{width:35%;}
    main section:nth-of-type(1){max-width:90%;}

    main section:nth-of-type(2) article{width:100%;}
    article .container div{width:90%;height:400px}
    main section:nth-of-type(3) article .box{height:700px;}
    main section:nth-of-type(3) img {margin-top:40px;}
    footer .footer{width:90%;flex-direction:column; text-align:center;}
    footer .footer img{width:20%;}

}